@import "tailwindcss";

:root {
  --background: #fffdf2;
  --foreground: #000000;
  --muted: #a1a1aa;
  --border: rgba(255, 255, 255, 0.145);
  --surface-hover: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --font-roboto-mono: var(--font-roboto-mono);
  --font-fira-mono: var(--font-fira-mono);
  --font-meno-display: var(--font-meno-display);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-mono), ui-monospace, monospace;
}

html {
  font-size: 100%;
}

@media screen and (min-width: 64rem) {
  html {
    font-size: clamp(
      0.875rem,
      calc(0.875rem + (1 - 0.875) * (100vw - 64rem) / (90 - 64)),
      1rem
    );
  }
}
